// -------------------------------------
//
//   Base -
//   Base-level tags (body, p, etc.)
//
// -------------------------------------

* {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}
body {
	background-color: #fff;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
}


// -------------------------------------
//   Block Content
// -------------------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}
p {
	margin-bottom: 20px;
}
blockquote {
	background-color: #eee;
	margin-bottom: 20px;
	padding: 10px;
}


// -------------------------------------
//   Inline Content
// -------------------------------------

pre, code {
	font-family: "Andale Mono", "Lucida Console", monospace;
	margin-bottom: 20px;
}
a {
	color: #2980b9;
	text-decoration: none;
}
a:visited {
}
a:hover,
a:active,
a:focus {
	color: #2c3e50;
}
del, strike {
	text-decoration: line-through;
}
em, i {
	font-style: italic;
}
small {
	font-size: 75%;
}
strong, b {
	font-weight: bold;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-bottom: 20px;
	width: 100%;
}
th {
	background-color: #eee;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding: 10px;
}
td {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
	padding: 10px;
}
